@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline-style: solid;
  outline-color: blue;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: rgb(1, 247, 222);
  padding-left: 1rem;
  padding-right: 1rem;
}

main {
  margin-top: 1rem;
}

h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  font-weight: 800;
}

.nav-button {
  background-color: rgb(0, 139, 139, 0.7);
  padding: 0.6rem 2rem;
  border-radius: 20px;
  color: #fff;
  transition: 0.4s;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav-button:hover {
  background-color: rgb(0, 139, 139, 1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}

.input-select-color {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.dynamic-routes-button {
  background-color: green;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  border-radius: 20px;
  margin-top: 2rem;
  color: #fff;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.dynamic-routes-button:hover {
  background-color: darkgreen;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.8);
  transform: scale(1.2);
}
